/* Size for brand */
/* Para alinear los checkboxes con los textos */
.check-input {
  flex: none;
}

.check-label {
  flex: none;
}

#add_guest {
  display: none;
}

body{
  margin-right: 3.25rem;
  margin-left: 3.25rem;
}

p {
  border: 0.25rem brown;
}

.hidden{
  display: none;
}

