{% extends "layout.html" %}

{% block title %}
	Bolsas
{% endblock %}


{% block main %}



<h2> Bolsas de cafe  </h2>
<p> Estas son las bolsas de cafe disponibles.  </p>

<table class="table">
	<thead class="thead-dark">
	<tr>
		<th scope="col"> Cafe </th>
		<th scope="col"> Precio  </th>
		<th scope="col"> Gramos  </th>
		<th scope="col"> Miembro </th>
	</tr>
	</thead>
	<tbody>
		{% for bolsa in activas %}

		<tr>
		<td> {{bolsa.origin}} {{bolsa.toaster}} </td>
		<td> {{ bolsa.cost}} </td>
		<td> {{ bolsa.grams}} </td>
		<td> {{ bolsa.miembro}} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2> Bolsas de pasadas  </h2>
<p> Estas son las bolsas de cafe terminadas.  </p>

<table class="table">
	<thead class="thead-dark">
	<tr>
		<th scope="col"> Cafe </th>
		<th scope="col"> Precio  </th>
		<th scope="col"> Gramos  </th>
		<th scope="col"> Miembro </th>
	</tr>
	</thead>
	<tbody>
		{% for bolsa in pasadas %}

		<tr>
		<td> {{bolsa.origin}} {{bolsa.toaster}} </td>
		<td> {{ bolsa.precio}} </td>
		<td> {{ bolsa.grams}} </td>
		<td> {{ username(bolsa.miembro)}} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

