{% extends "layout.html" %}

{% block title %}
	Ronda de cafe
{% endblock %}

{% block main %}
	<form action="/ronda" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" id="prensa" name="prensa">
            <option disabled selected value="" >Prensa</option>
            {% for prensa in prensas%}
			<option value="{{prensa.prensa_id}}">{{prensa.username}} {{ prensa.capacity }} mL</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" id="bolsa" name="bolsa">
            <option disabled selected value="" >Cafe</option>
            {% for cafe in bolsas%}
			<option value="{{cafe.id}}">{{cafe.origin}} {{cafe.toaster}}</option>
            {% endfor %}
        </select>
    </div>
	<h2> Miembros </h2>

    <div class="mb-3">
    {% for miembro in miembros%}
		<input class="check-input" type="checkbox" value="{{miembro}}" name="{{miembro}}" >
		<label class="check-label" >
			{{miembro}}
		</label>
    {% endfor %}
	</div>

    <div class="mb-3">
    <button class="btn btn-primary" id="register" type="submit" disabled> Registrar ronda de Cafe </button>
    </div>

    <div class="mb-3">
        <button class="btn btn-info" id="guest" type="button" onclick="addGuest();"> Agregar Invitados </button>
    </div>
    <div class="mb-3" id="add_guest">
        <select class="form-select mx-auto w-auto" id="guest" name="guest">
            <option disabled selected value="" >Miembro</option>
            {% for miembro in miembros%}
			<option value="{{miembro}}">{{miembro}}</option>
            {% endfor %}
        </select>
        <select class="form-select mx-auto w-auto" id="cantidad" name="cantidad">
            <option selected value="0" >Ninguno</option>
            <option value="1" >Uno</option>
            <option value="2" >Dos</option>
            <option value="3" >Tres</option>
            <option value="4" >Cuatro</option>
        </select>
    </div>
	</form>

<script>
var filled = false;
let p = document.getElementById("prensa");
let q = document.getElementById("bolsa");
let b = document.getElementById("register");
p.addEventListener('change', function(){
	if(p.value != '' &&  q.value != ''){
        filled = true;
		b.disabled=false;
    }
});
q.addEventListener('change', function(){
	if(p.value != '' &&  q.value != ''){
		b.disabled=false;
    }
});

function addGuest(){
   document.getElementById("add_guest").style.display = "block"; 
}

</script>
{% endblock %}
